<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo Suite">
<listeners>
	<listener class-name="utilities.ListenersImplementation" />
</listeners>
  <test thread-count="1" parallel="methods" name="Demo Regression Tests on Firefox">
  	<parameter name="browser" value="firefox"/>
    <classes>
      <class name="InsuranceCalcTest.calculatePremium"/>
     </classes>
  </test> <!-- Demo Regression Tests -->
  
</suite> <!-- Demo Suite -->